 .contenedor-sistemas{
	width:96%;
	height:800px;
	margin-top:0px;
    padding-left:50px;
	margin:auto;
	background:red;
 }
 
 
 
 .contenedor1{
	padding-top:6px;
	padding-bottom:6px;
	width:100%;
	overflow: hidden; /*todo lo que revase el contenedor lo oculta  #D5DBDB*/
	background-color:#D5DBDB;
	display:flex;
	align-items: center;
	font-family:Century Gothic;	
	border-radius:4px;
 }
  
 .contenedor1 div{
	margin:8px; 
 }
 
 .contenedor1 select{
	 width:130px;
	 min-height:30px; /*Altura minima del select*/
	 font-family:Century Gothic;
	 border-radius:4px;
	 background:#34495E;
	 border-color:transparent;
	 color:white;
	 
 }
 
 .contenedor1 select:hover{
	 background-color:#212F3C ;
	
 }

 .contenedor1 option{
	 background-color:#34495E;
 }
 
 .aside-contenedor div{
	 width:250px;
	 padding-left:14px;
 }
 
 .aside-filtros p{
	  font-family:Century Gothic;
	  color:white;
	  text-align:left;
 }
  .aside-filtros input[type=text]{
	 width:100px;
	 height:24px;
	 border-radius:4px;
	 font-family:Century Gothic;
	 border-color:transparent;
 }
 
 #temas{
	width:180px; 
 }

.btn{
	border-radius:4px;
	border-color:transparent;
	height:30px;
	width:80px;
	background-color:#F5B041 ;
}

.btncolor:hover{
	background-color:#F39C12;
}
 
.contenedor1 a{
	 text-decoration:none;
	 color:black;
	 font-style: italic;
 } 
 
 .contenedor1 a:hover{
	 color:#808B96;
 }
 
 
 
 .aside-filtros select{
	 width:130px;
	 min-height:30px; /*Altura minima del select*/
	 font-family:Century Gothic;
	 border-radius:4px;
	 background:#F39C12;
	 border-color:transparent;
	 color:white;
	 
 }