.seccion-revista{
	padding-top:20px;
	padding-bottom:10px;
	padding-right:4px;
	max-width:92%;
	height:580px;
	margin:auto;
	/*overflow: hidden; todo lo que revase el contenedor lo oculta*/
	display:block;
	/*background-image: url("../imagenes/fondo-revistas.jpg");*/

}

.lista-revistas{
	width:70%;
	height:500px;
	display:flex;
	float:left;
}

.lista-revistas>div{
	margin:auto;
}

.rev{
	width:380px;
	height:200px;
	margin-right:20px;
	padding-top:10px;
	margin-bottom:20px;
	/*background:red;*/
	border-radius:14px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color:#BDC3C7;
}

.rev img{
   margin-top:20px;
   height:121px;

}
.rev a{
	font-size: 22px;
	font-family:Century Gothic;
	color:white;
}
.nom-revista{
	width:290px;
	height:30px;
	background:#34495E;
	margin:auto;
}


.buscador-revista{
	width:28%;
	margin-left:10px;
	margin-bottom:10px;
	background:#CACFD2;
	height:200px;
	float:left;
	text-align:center;
}

.buscador-revista>div{
	width:100%;
	height:40px;
	background:orange;
	text-align:center;
}

.buscador-revista p{
	padding-top:10px;
}

.buscador-revista input[type=text]{
	height:32px;
	width:280px;
	font-family:Century Gothic;	
	border-radius:4px;
	margin-top:30px;
}

.buscador-revista button{
	height:38px;
	width:80px;
	border-radius:4px;
	margin-top:10px;
	font-family:Century Gothic;	
}

.buscador-dibujo{
	height:360px;
	width:28%;
	background:#CACFD2;
	float:left;
	margin-left:10px;
	text-align:center;
	
}
.buscador-dibujo img{
	margin-top:38px;
}


 input{
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
}

#listaArticulos{
    font-size: 30px;
    margin-top: 20px;
    list-style: none;
    font-weight: 600;
    color: white;
    text-align: center;
}
.filtro{
    display: none;
}